---
title: "角色對調"
title_en: "Role Swap "
intro_title: "對調才是真正的遊戲"
intro_title_en: "The real game: identity swap and role reversal"
artist_name: "梁思鳴"
artist_name_en: "Gabriel Leung"
artist_bio: ""
artist_bio_en: ""
record_no: "10"
slug: "role-swap"
createdAt: 2021-03-05
category: ["what-is-instruction"]
---

<script>
  const assetsBasePath = `blog-posts/2021-03-05-${slug}`;
</script>

write you post here...