---
title: "終結前：四百擊 "
title_en: "Before the End: Les Quatre Cents Coups"
intro_title: "向他撒謊，請他跟我來一場賽跑"
intro_title_en: "I lied to him, &#x27;run a race with me!&#x27;"
artist_name: "關尚智"
artist_name_en: "Kwan Sheung Chi"
artist_bio: ""
artist_bio_en: ""
record_no: "7"
slug: "before-the-end-les-quatre-cents-coups"
createdAt: 2021-03-05
category: ["what-is-instruction"]
---

<script>
  const assetsBasePath = `blog-posts/2021-03-05-${slug}`;
</script>

write you post here...