---
title: "我教你教我教你教我"
title_en: "I Teach You Teach Me Teach You Teach Me"
intro_title: "爸爸我教你畫畫"
intro_title_en: "Dad, I teach you to paint!"
artist_name: "徐沛之"
artist_name_en: "Chui Pui Chee"
artist_bio: ""
artist_bio_en: ""
record_no: "5"
slug: "i-teach-you-teach-me-teach-you-teach-me"
createdAt: 2021-03-05
category: ["what-is-instruction"]
---

<script>
  const assetsBasePath = `blog-posts/2021-03-05-${slug}`;
</script>

write you post here...