---
title_hk: "😊 規則你來訂，我有的是時間"
title_en: "😊 You set the rules, and I've got time for you"
intro_title_hk: "就讓時間流逝"
intro_title_en: "Let time pass"
artist_name_hk: "黃榮法"
artist_name_en: "Morgan Wong"
artist_bio_hk: "黃榮法，藝術家，希越和可睿的Morgan哥哥。"
artist_bio_en: "Morgan Wong, artist, Morgan Gor Gor to Myah and Moritz."
record_no: "25"
slug: "you-can-set-the-rules-what-i-have-got-is-time"
createdAt: 2021-03-30
category: ["love-fear"]
---

<script>
  const assetsBasePath = `blog-posts/2021-03-30-${slug}`;
</script>

<div class="hk">
一天，我和可睿獨自在房間內不發一言地陪伴著大家。最
後，忘記了是誰先發言，但反正內容就是接下來可以一起
做些什麼事情。結果他提議玩一個像紙上猜樓梯的遊戲。
他訂立的規則令遊戲沒完沒了，我們各自都在紙上的梯級
間來回踱步。任誰即將接近終點，他都能找來延續的方法，
而我亦安然接受。在漸暗的傍晚，我們就讓時間流逝。

p.s. 姐姐希越在前一個晚上亦以略有不同的方式邀請我嘗試過這遊戲。

</div>

<div class="en">
One day, Moritz and I were idle in the room keeping each other company.
At last, I forgot who broke the silence, but anyway, it was about what we
could do together next. As a result, he proposed to play the rock-paperscissors staircase battle on paper. The rules he had set made the game
endless and each of us paced back and forth along the steps on paper.
Whenever either of us was approaching the top, he could find a way to
extend the game, which I followed without any questions. Amid the fading
evening light, we just let time pass.

p.s. Myah, Moritz’s elder sister, also introduced a slightly different version of this game to us the
night before
</div>