---
title: "接受小孩喜愛的事物 "
title_en: "Accept what children love "
intro_title: "認識他的世界與重新認識自己的世界"
intro_title_en: "Learning About His World and Re-Learning My World"
artist_name: "張志偉"
artist_name_en: "Cheung Chi Wai"
artist_bio: ""
artist_bio_en: ""
record_no: "2"
slug: "accept-what-children-love"
createdAt: 2021-03-05
category: ["what-is-instruction"]
---

<script>
  const assetsBasePath = `blog-posts/2021-03-05-${slug}`;
</script>

write you post here...